<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<wipei_wipeipayment>
				<title>Wipei</title>
				<model>Wipei\WipeiPayment\Model\WipeiPayment</model>
				<order_status>pending</order_status>
				<allowspecific>0</allowspecific>
				<sort_order>-2</sort_order>
				<logs>1</logs>
				<installments>24</installments>
				<auto_return>1</auto_return>
				<active>1</active>
				<group>offline</group>
			</wipei_wipeipayment>
		</payment>
	</default>
</config>
